# Introduction to this Project
The goal of this project is to show familiar with a few very common machine learning algorithms, as well as some basic data analysis.

In [5]:
import numpy as np
import pandas as pd
from sklearn import datasets
import sklearn
import matplotlib.pyplot as plt

iris = pd.read_csv("./datasets/iris.csv")
titanic = pd.read_csv("./datasets/titanic.csv")



print("Titanic Dataset:")
titanic.head()

Titanic Dataset:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Iris Dataset:
['Setosa' 'Versicolor' 'Virginica']

In [15]:
print(iris["variety"].unique())
color_mapping_iris = {"Setosa":"tab:blue", "Versicolor":"tab:red", "Virginica":"tab:yellow"}
plt.scatter(iris["sepal.width"], iris["sepal.length"], c=iris["variety"].map("color_mapping_iris"))
plt.show()

['Setosa' 'Versicolor' 'Virginica']

TypeError: 'str' object is not callable